// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~font-awesome/scss/font-awesome";

// Variables
@import 'variables';

// Bulma
@import "~bulma/bulma";

// Custom
@import "custom";

